Repository autowarefoundation/autoware, pull requests merged in 2019-03, with the labels that each got.

#1946 Docker cleanup
  .dockerignore
  docker/96boards/Dockerfile.kinetic
  docker/96boards/README.md
  docker/96boards/build.sh
  docker/96boards/run.sh
  docker/generic/Dockerfile
  docker/generic/Dockerfile.base
  docker/generic/Dockerfile.cuda
  docker/generic/Dockerfile.kinetic
  docker/generic/README.md
  docker/generic/build.sh
  docker/generic/dependencies
  docker/generic/entrypoint.sh
  docker/generic/hooks/build
  docker/generic/hooks/env
  docker/generic/hooks/post_push
  docker/generic/run.sh
  ros/.gitignore
Labels: In review

#1896 Fix/compare map filter squared distance
  ros/src/sensing/filters/packages/points_preprocessor/interface.yaml
  ros/src/sensing/filters/packages/points_preprocessor/launch/compare_map_filter.launch
  ros/src/sensing/filters/packages/points_preprocessor/nodes/compare_map_filter/README.md
  ros/src/sensing/filters/packages/points_preprocessor/nodes/compare_map_filter/compare_map_filter.cpp
  ros/src/util/packages/runtime_manager/scripts/sensing.yaml
Labels: bug, in review

#1775 Fix deceleration value bug in following state
  ros/src/computing/planning/common/lib/openplanner/op_planner/src/DecisionMaker.cpp
Labels: bug, in review

#2119 Replace IV texture with AW
  ros/src/vehicle/vehicle_description/mesh/estima_left_white.jpg
  ros/src/vehicle/vehicle_description/mesh/estima_right_white.jpg
Labels: enhancement, in review

#1825 Update rect_class_score.h
  ros/src/computing/perception/detection/vision_detector/packages/vision_darknet_detect/src/rect_class_score.h
Labels: bug, in review

#1706 Fixed wrong assignement of message type to package
  docs/quick_start/my_mission_planning.launch
Labels: bug, in review

#1204 fix RuntimeManager on lxterminal #1203
  ros/run
Labels: bug, in progress

#2137 Add missing install for image resources on camera calibrator
  ros/src/sensing/fusion/packages/autoware_camera_lidar_calibrator/CMakeLists.txt
Labels: bug, in review

#2142 Change RTM default topic to match UKF node launch file
  ros/src/util/packages/runtime_manager/scripts/computing.yaml
Labels: bug, in review
