Repository autowarefoundation/autoware, pull requests merged in 2019-05, with the labels that each got.

#2245 Modify a way to calculate cost in costmap generator
  ros/src/computing/perception/semantics/packages/costmap_generator/include/costmap_generator/objects_to_costmap.h
  ros/src/computing/perception/semantics/packages/costmap_generator/nodes/costmap_generator/objects_to_costmap.cpp
Labels: enhancement

#2247 ekf_localizer
  ros/src/common/libs/amathutils_lib/CMakeLists.txt
  ros/src/common/libs/amathutils_lib/include/amathutils_lib/kalman_filter.hpp
  ros/src/common/libs/amathutils_lib/include/amathutils_lib/time_delay_kalman_filter.hpp
  ros/src/common/libs/amathutils_lib/src/kalman_filter.cpp
  ros/src/common/libs/amathutils_lib/src/time_delay_kalman_filter.cpp
  ros/src/common/libs/amathutils_lib/test/src/test_kalman_filter.cpp
  ros/src/common/libs/amathutils_lib/test/test_kalman_filter.test
  ros/src/computing/perception/localization/packages/ekf_localizer/CMakeLists.txt
  ros/src/computing/perception/localization/packages/ekf_localizer/README.md
  ros/src/computing/perception/localization/packages/ekf_localizer/fig/delay_model_eq.png
  ros/src/computing/perception/localization/packages/ekf_localizer/fig/kinematics_model_eq.png
  ros/src/computing/perception/localization/packages/ekf_localizer/include/ekf_localizer/ekf_localizer.h
  ros/src/computing/perception/localization/packages/ekf_localizer/launch/ekf_localizer.launch
  ros/src/computing/perception/localization/packages/ekf_localizer/package.xml
  ros/src/computing/perception/localization/packages/ekf_localizer/src/ekf_localizer.cpp
  ros/src/computing/perception/localization/packages/ekf_localizer/src/ekf_localizer_node.cpp
  ros/src/computing/perception/localization/packages/ekf_localizer/test/src/test_ekf_localizer.cpp
  ros/src/computing/perception/localization/packages/ekf_localizer/test/test_ekf_localizer.test
  ros/src/computing/perception/localization/packages/twist_generator/CMakeLists.txt
  ros/src/computing/perception/localization/packages/twist_generator/include/twist_generator/vehicle_status_converter.hpp
  ros/src/computing/perception/localization/packages/twist_generator/launch/vehicle_status_converter.launch
  ros/src/computing/perception/localization/packages/twist_generator/package.xml
  ros/src/computing/perception/localization/packages/twist_generator/src/vehicle_status_converter.cpp
  ros/src/util/packages/runtime_manager/scripts/computing.yaml
Labels: enhancement

#2235 Fix don't show run time in runtimemanager
  ros/src/util/packages/runtime_manager/scripts/computing.yaml
  ros/src/util/packages/runtime_manager/scripts/qs.yaml
  ros/src/util/packages/runtime_manager/scripts/runtime_manager_dialog.py
Labels: bug

#2265 Melodic CPU/GPU compilation flag
  ros/src/common/cmake/autoware_build_flags/cmake/autoware_build_flags-extras.cmake
  ros/src/computing/perception/detection/lidar_detector/packages/lidar_apollo_cnn_seg_detect/CMakeLists.txt
  ros/src/computing/perception/detection/lidar_detector/packages/lidar_euclidean_cluster_detect/CMakeLists.txt
  ros/src/computing/perception/detection/lidar_detector/packages/lidar_point_pillars/CMakeLists.txt
  ros/src/computing/perception/detection/trafficlight_recognizer/CMakeLists.txt
  ros/src/computing/perception/detection/vision_detector/packages/vision_darknet_detect/CMakeLists.txt
  ros/src/computing/perception/detection/vision_detector/packages/vision_segment_enet_detect/CMakeLists.txt
  ros/src/computing/perception/detection/vision_detector/packages/vision_ssd_detect/CMakeLists.txt
  ros/src/computing/perception/localization/lib/ndt_gpu/CMakeLists.txt
  ros/src/computing/perception/localization/lib/ndt_gpu/package.xml
  ros/src/computing/perception/localization/packages/lidar_localizer/CMakeLists.txt
  ros/src/util/packages/autoware_launcher/plugins/refs/native_motion_predict.yaml
Labels: enhancement

#2240 When using use_sukf in imm_ukf_pda_track, behavior_state is wrong
  ros/src/computing/perception/detection/lidar_tracker/packages/lidar_imm_ukf_pda_track/include/imm_ukf_pda.h
  ros/src/computing/perception/detection/lidar_tracker/packages/lidar_imm_ukf_pda_track/nodes/imm_ukf_pda/imm_ukf_pda.cpp
Labels: bug

#2268 Fix gazebo not found in colcon_release_cross
  ros/colcon_release_cross
Labels: bug

#2272 Fix segmentation fault at velocity_set or unintended planning by asynchronous base_waypoints and closest_waypoint
  ros/src/computing/planning/motion/packages/waypoint_planner/src/velocity_set/velocity_set.cpp
Labels: bug

#2275 Fix Melodic Cross-Build
  .gitlab-ci.yml
  docker/crossbuild/Dockerfile.kinetic-crossbuild
  docker/crossbuild/Dockerfile.kinetic-crossbuild-driveworks
  docker/crossbuild/Dockerfile.melodic-crossbuild
  docker/crossbuild/Dockerfile.melodic-crossbuild-driveworks
  ros/colcon_release_cross
Labels: bug, enhancement

#2262 Add tests around Openplanner utilities
  ros/src/computing/planning/common/lib/openplanner/op_utility/CMakeLists.txt
  ros/src/computing/planning/common/lib/openplanner/op_utility/src/UtilityH.cpp
  ros/src/computing/planning/common/lib/openplanner/op_utility/test/src/test_op_utility.cpp
  ros/src/computing/planning/common/lib/openplanner/op_utility/test/test_op_utility.test
Labels: enhancement

#2208 Change lane end index after resample
  ros/src/computing/planning/motion/packages/waypoint_maker/nodes/waypoint_replanner/waypoint_replanner.cpp
Labels: bug

#2287 add install to the resources and plugin.xml
  ros/src/simulation/lgsvl_simulator/lgsvl_simulator_bridge/CMakeLists.txt
Labels: bug

#2257 Modify mssion state for fms
  ros/src/computing/planning/decision/packages/decision_maker/README.md
  ros/src/computing/planning/decision/packages/decision_maker/autoware_state_mission.yaml
  ros/src/computing/planning/decision/packages/decision_maker/include/decision_maker/decision_maker_node.hpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_init.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_state_mission.cpp
Labels: enhancement

#2256 Add battery charging state
  ros/src/computing/planning/decision/packages/decision_maker/README.md
  ros/src/computing/planning/decision/packages/decision_maker/autoware_state_vehicle.yaml
  ros/src/computing/planning/decision/packages/decision_maker/include/decision_maker/decision_maker_node.hpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_init.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_state_vehicle.cpp
Labels: enhancement

#2251 Split drive state
  ros/src/computing/planning/decision/packages/decision_maker/CMakeLists.txt
  ros/src/computing/planning/decision/packages/decision_maker/README.md
  ros/src/computing/planning/decision/packages/decision_maker/autoware_state_behavior.yaml
  ros/src/computing/planning/decision/packages/decision_maker/autoware_state_drive.yaml
  ros/src/computing/planning/decision/packages/decision_maker/autoware_state_motion.yaml
  ros/src/computing/planning/decision/packages/decision_maker/docs/BehaviorStates.jpg
  ros/src/computing/planning/decision/packages/decision_maker/docs/DriveStates.jpg
  ros/src/computing/planning/decision/packages/decision_maker/docs/MotionStates.jpg
  ros/src/computing/planning/decision/packages/decision_maker/docs/decision_maker_panel.png
  ros/src/computing/planning/decision/packages/decision_maker/docs/state_overlay.png
  ros/src/computing/planning/decision/packages/decision_maker/include/decision_maker/decision_maker_node.hpp
  ros/src/computing/planning/decision/packages/decision_maker/launch/decision_maker.launch
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_core.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_init.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_publish.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_state_behavior.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_state_drive.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_state_mission.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_state_motion.cpp
  ros/src/computing/planning/decision/packages/decision_maker/nodes/decision_maker/decision_maker_node_state_vehicle.cpp
  ros/src/computing/planning/decision/packages/decision_maker/test/test_decision_maker.test
  ros/src/computing/planning/motion/packages/waypoint_follower/nodes/twist_gate/twist_gate.cpp
  ros/src/msgs/autoware_msgs/msg/State.msg
  ros/src/util/packages/autoware_rviz_plugins/decision_maker_panel/src/decision_maker_panel.cpp
Labels: enhancement
