Repository autowarefoundation/autoware, pull requests merged in 2024-02, with the labels that each got.

#4161 feat(traffic_light_ssd_fine_detector): remove package
  ansible/roles/artifacts/README.md
  ansible/roles/artifacts/SHA256SUMS
  ansible/roles/artifacts/tasks/main.yaml
Labels: component:perception, type:installation

#4191 ci(build-main): improve storage cleaning and ci build pipeline
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/free-disk-space/action.yaml
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
Labels: type:new-feature, type:ci

#4206 docs(ansible): update ros2_dev_tools readme file
  ansible/roles/ros2_dev_tools/README.md
Labels: type:documentation, type:installation

#4212 feat(autoware.repos): add autoware_internal_msgs repository
  autoware.repos
Labels: version:autoware-core, component:interfaces
