Repository autowarefoundation/autoware, pull requests merged in 2024-08, with the labels that each got.

#4923 feat(ansible): add envs to local user .bashrc
  ansible/roles/build_tools/tasks/main.yaml
  ansible/roles/cuda/tasks/main.yaml
  ansible/roles/rmw_implementation/tasks/main.yaml
  ansible/roles/ros2/tasks/main.yaml
Labels: tag:run-health-check

#5011 feat(autoware.repos): remove autoware_auto_msgs
  autoware.repos
Labels: tag:run-health-check

#5093 docs(docker): describe multi-stage Dockerfile structure
  docker/README.md
  docker/img/Dockerfile.svg
Labels: type:containers, component:openadkit, tag:run-health-check

#5069 fix(docker): prevent artifacts being downloaded into base image everytime
  setup-dev-env.sh
Labels: type:containers, tag:run-health-check

#5101 refactor(docker): use capital `AS`
  docker/Dockerfile
Labels: type:containers, tag:run-health-check

#5102 refactor(docker): minimize `hadolint` ignore
  docker/Dockerfile
Labels: type:containers, tag:run-health-check

#5105 fix(autoware.repos): fix the `morai_msgs` version
  autoware.repos
Labels: tag:run-health-check

#5117 feat(docker): install `colcon build` artifacts to `/opt/autoware` instead of `/autoware/install`
  docker/Dockerfile
  docker/etc/ros_entrypoint.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5121 ci: rename self-hosted workflows to arm64
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/health-check-arm64.yaml
Labels: tag:run-health-check

#5134 chore: bump up autoware_lanelet2_extension
  autoware.repos
Labels: tag:run-health-check
