Repository autowarefoundation/autoware, pull requests merged in 2024-09, with the labels that each got.

#5036 feat(ansible): update config
  ansible/roles/artifacts/tasks/main.yaml
Labels: tag:run-health-check

#5157 feat(docker): introduce `autoware-universe-common` stage
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5159 feat(docker): install CUDA drivers in `autoware:base` image
  .github/actions/docker-build-and-push/action.yaml
  ansible/playbooks/openadkit.yaml
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5164 feat(docker): separation from `autoware-universe` stage to `autoware-universe-sensing-perception` stage
  docker/Dockerfile
Labels: tag:run-health-check

#5170 feat(docker): rename multi-stages
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5166 feat(autoware.repos): add awsim_labs_vehicle_launch to autoware.repos
  autoware.repos
Labels: app:awsim, component:launch, tag:run-health-check

#5171 feat(docker): no longer support `devel` image
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5172 feat(docker): add `universe-sensing-perception` runtime stage
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5185 docs(docker): update `docker/README.md`
  docker/Dockerfile.svg
  docker/README.md
  docker/img/Dockerfile.svg
Labels: type:containers, component:openadkit, tag:run-health-check

#5183 chore: bump up autoware_lanelet2_extension
  autoware.repos
Labels: tag:run-health-check

#5187 fix(.dockerignore): not ignore specific `csv` and `png` files
  .dockerignore
Labels: type:containers, component:openadkit, tag:run-health-check

#5186 feat(docker): separation from `universe-devel` stage to `universe-localization-mapping-devel` stage
  docker/Dockerfile
  docker/Dockerfile.svg
  docker/README.md
Labels: type:containers, component:openadkit, tag:run-health-check

#5087 fix(webauto-ci): custom build spec
  .webauto-ci.yaml
  .webauto-ci/main/autoware-build/run.sh
  .webauto-ci/main/autoware-setup/run.sh
  .webauto-ci/main/environment-setup/run.sh
Labels: tag:run-health-check

#5192 chore(docker): remove ansible config files from runtime images
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5189 feat(docker): add `universe-localization-mapping` runtime image
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/README.md
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5194 feat(docker): separation from `universe-devel` stage to `universe-planning-control-devel` stage
  docker/Dockerfile
  docker/Dockerfile.svg
  docker/README.md
Labels: type:containers, component:openadkit, tag:run-health-check

#5104 feat(ansible): refactor PR #5053
  ansible/playbooks/telegraf.yaml
  ansible/roles/telegraf/README.md
  ansible/roles/telegraf/defaults/main.yaml
  ansible/roles/telegraf/files/create-org.png
  ansible/roles/telegraf/files/generate-api-token.png
  ansible/roles/telegraf/files/get_telegraf_proccpu_json.sh
  ansible/roles/telegraf/files/get_telegraf_procmem_json.sh
  ansible/roles/telegraf/files/load-data.png
  ansible/roles/telegraf/files/telegraf.conf
  ansible/roles/telegraf/handlers/main.yaml
  ansible/roles/telegraf/meta/main.yaml
  ansible/roles/telegraf/tasks/main.yaml
Labels: tag:run-health-check

#5199 fix(docker): fix docker image tagging on build/run scripts
  docker/build.sh
  docker/run.sh
Labels: tag:run-health-check

#5200 fix(docker): devcontainer naming
  .devcontainer/base/devcontainer.json
  .devcontainer/cuda/devcontainer.json
Labels: tag:run-health-check

#5212 feat(create-prs-to-update-vcs-repositories): add a workflow
  .github/workflows/create-prs-to-update-vcs-repositories.yaml
Labels: tag:run-health-check

#5237 feat(create-prs-to-update-vcs-repositories): revert "add a workflow"
  .github/workflows/create-prs-to-update-vcs-repositories.yaml
Labels: type:github-actions, tag:run-health-check

#5216 fix(docker): remove rosdistro tag and add date as suffix
  .github/actions/docker-build-and-push/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Labels: component:openadkit, tag:run-health-check

#5253 fix(docker): remove TODO comments and unnecessary copies of source code
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#4838 feat: qt5ct dark mode integration using ansible
  ansible/playbooks/install_rviz_theme.yaml
  ansible/playbooks/universe.yaml
  ansible/roles/qt5ct_setup/README.md
  ansible/roles/qt5ct_setup/defaults/main.yml
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/active/downarrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/active/uparrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/branch-end.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/branch-more.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/downarrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/leftarrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/radiobutton_checked.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/radiobutton_unchecked.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/rightarrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/uparrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/disabled/vline.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/add.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/branch-closed.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/branch-end.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/branch-more.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/branch-open.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_checked_disabled.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_checked_enabled.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_checked_hovered.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_checked_pressed.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_indeterminate_disabled.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_indeterminate_enabled.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_indeterminate_hovered.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_indeterminate_pressed.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_unchecked_disabled.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_unchecked_enabled.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_unchecked_hovered.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/checkbox_unchecked_pressed.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/close.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/downarrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/float.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/leftarrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/minus.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/more.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/radiobutton_checked.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/radiobutton_checked_invert.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/radiobutton_unchecked.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/radiobutton_unchecked_invert.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/rightarrow.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/sizegrip.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/slider.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/splitter-horizontal.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/splitter-vertical.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/tab_close.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/toolbar-handle-horizontal.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/toolbar-handle-vertical.svg
  ansible/roles/qt5ct_setup/files/autoware-rviz-icons/primary/uparrow.svg
  ansible/roles/qt5ct_setup/files/autoware.qss
  ansible/roles/qt5ct_setup/files/qt5ct.conf
  ansible/roles/qt5ct_setup/meta/main.yml
  ansible/roles/qt5ct_setup/tasks/main.yml
Labels: type:ui-ux, tag:run-health-check

#5262 fix(.github): fix non `-cuda` tag names
  .github/actions/docker-build-and-push/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check.yaml
Labels: type:containers, component:openadkit, tag:run-health-check

#5263 fix(docker): copy all `.csv` and `.png` files to images
  .dockerignore
Labels: type:containers, component:openadkit, tag:run-health-check

#5266 refactor(qt5ct): update selection colors in autoware.qss
  ansible/roles/qt5ct_setup/files/autoware.qss
Labels: tag:run-health-check

#5271 chore: freeze Nebula version to v0.0.1
  autoware.repos
Labels: tag:run-health-check

#5279 fix(autoware.repos): use main branch of ros2_socketcan
  autoware.repos
Labels: tag:run-health-check

#5257 feat(docker): add vehicle-system container
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/Dockerfile.svg
  docker/README.md
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check
