Repository autowarefoundation/autoware, pull requests merged in 2024-05, with the labels that each got.

#4719 chore(docker): separate `rosdep install` and `colcon build` RUN commands
  docker/autoware-openadk/Dockerfile
Labels: type:ci

#4712 refactor(docker): introduce `src-imported` stage
  ansible/playbooks/rosdep.yaml
  docker/autoware-openadk/Dockerfile
Labels: type:ci

#4738 feat(ci,docker): change `vcs import` to `COPY src`
  .github/actions/docker-build-and-push/action.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
  docker/autoware-openadk/Dockerfile
Labels: type:ci, type:containers

#4730 feat(ci): enable Docker build cache to 5 times faster container build
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
Labels: type:ci

#4012 fix: add download url of yolox with semantic segmentation header
  ansible/roles/artifacts/tasks/main.yaml
Labels: component:perception, type:installation

#4789 feat(ci): disable `Upload Artifacts` on `docker-build-and-push` action
  .github/actions/docker-build-and-push/action.yaml
Labels: type:ci

#4778 feat(docker): cache apt archives to the Docker build cache
  docker/Dockerfile
Labels: type:ci, component:openadkit

#4797 chore: update code owners
  .github/CODEOWNERS
Labels: type:ci
