Repository autowarefoundation/autoware, pull requests merged in 2024-11, with the labels that each got.

#5390 fix: remove `ndt_omp`
  autoware.repos
Labels: tag:run-health-check

#5403 fix: change the organization of `awsim_sensor_kit_launch` from RobotecAI to tier4
  autoware.repos
Labels: tag:run-health-check

#5407 chore(.devcontainer): rename `.devcontainer` directories
  .devcontainer/universe-devel-cuda/devcontainer.json
  .devcontainer/universe-devel/devcontainer.json
Labels: type:containers, component:openadkit, tag:run-health-check

#5363 feat(docker): integrate `cuda`/`no-cuda` jobs into single job
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check.yaml
  docker/Dockerfile
  docker/Dockerfile.svg
  docker/docker-bake-cuda.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5419 feat(docker): install CUDA development/runtime libraries only 1 time
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  docker/Dockerfile
  docker/Dockerfile.svg
  docker/docker-bake-cuda.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5424 refactor(docker): replace the multiple `rosdep` commands with `resolve_rosdep_keys.sh`.
  .dockerignore
  docker/Dockerfile
  docker/scripts/resolve_rosdep_keys.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5425 refactor(docker): replace the multiple `colcon` commands with `build_and_clean.sh`.
  docker/Dockerfile
  docker/scripts/build_and_clean.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5426 refactor(docker): replace the multiple `rm -rf` commands with `cleanup_system.sh`.
  docker/Dockerfile
  docker/scripts/cleanup_system.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5428 fix(.github): fix `target-image`
  .github/actions/docker-build-and-push-cuda/action.yaml
Labels: type:github-actions, type:containers, component:openadkit, tag:run-health-check

#5439 feat(.clang-tidy): add ExtraArgs
  .clang-tidy
  .clang-tidy-ci
Labels: tag:run-health-check

#5443 docs(ansible): update role readme files
  ansible/roles/cuda/README.md
  ansible/roles/dev_tools/README.md
  ansible/roles/tensorrt/README.md
Labels: tag:run-health-check

#5447 refactor(docker): replace the multiple `apt-get autoremove` commands with `cleanup_apt.sh`.
  docker/Dockerfile
  docker/scripts/cleanup_apt.sh
Labels: type:github-actions, type:containers, component:openadkit, tag:run-health-check

#5451 fix(docker): add autoware prefix to map_loader
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5446 fix(docker): install CUDA developement libraries into `-devel-cuda` images
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5440 feat: introduce `autoware-nightly.repos`
  .github/actions/docker-build/action.yaml
  .github/workflows/health-check-nightly.yaml
  autoware-nightly.repos
Labels: type:github-actions, type:containers, component:openadkit, tag:run-health-check

#5458 refactor(docker): refine CUDA related packages build
  docker/Dockerfile
  docker/scripts/build_and_clean.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5463 chore(autoware.repos): update TODO comment
  autoware.repos
Labels: component:interfaces, tag:run-health-check

#5467 fix(docker): fix `cleanup_apt.sh`
  docker/scripts/cleanup_apt.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5472 chore(.github): update changed files list to include `docker-build-and-push-cuda` and `docker-build-and-push-base` files
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Labels: type:github-actions, type:containers, component:openadkit, tag:run-health-check

#5482 feat(docker): copy `cleanup_system.sh` to `autoware-base` images
  docker/Dockerfile.base
Labels: type:containers, component:openadkit, tag:run-health-check

#5492 feat(docker): inherit `autoware-base` images
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
  .github/workflows/load-env.yaml
  amd64.env
  docker/Dockerfile
  docker/docker-bake-cuda.hcl
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5500 ci: update the pr template and add comment-on-pr workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/small-change.md
  .github/PULL_REQUEST_TEMPLATE/standard-change.md
  .github/pull_request_template.md
  .github/workflows/comment-on-pr.yaml
Labels: tag:run-health-check

#5495 refactor(docker): fix `Dockerfile` indent
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5497 feat(docker): update cleanup scripts
  .github/workflows/docker-build-and-push.yaml
  docker/scripts/cleanup_apt.sh
  docker/scripts/cleanup_system.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5504 ci(sync-files): make use of sync-files-templates repo
  .github/sync-files.yaml
Labels: tag:run-health-check

#5509 ci: use AWS CodeBuild to run docker-build-and-push-cuda (#5475)
  .github/workflows/docker-build-and-push.yaml
Labels: type:containers, component:openadkit, tag:run-health-check

#5511 ci(sync-files): simplify by utilizing source-dir param
  .github/sync-files.yaml
Labels: tag:run-health-check
