Repository autowarefoundation/autoware, pull requests merged in 2024-07, with the labels that each got.

#4945 feat(ci): save cache on `no-cuda` jobs and restore cache only on `cuda` jobs
  .github/actions/docker-build/action.yaml
Labels: type:ci

#4962 feat(ci): make sure `tag:run-health-check` tag is present on PR to run `health-check` CI
  .github/workflows/health-check.yaml
Labels: tag:run-health-check

#4963 feat(autoware.repos): specify the tag instead of the main branch for versioning
  autoware.repos
Labels: component:interfaces, type:ci

#4971 feat(docker,ci): cache apt archives to GitHub Actions cache
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  docker/Dockerfile
Labels: tag:run-health-check

#4974 fix(ci): run `health-check` on schedule and workflow_dispatch events
  .github/workflows/health-check.yaml
Labels: type:ci, tag:run-health-check

#4977 fix(ci): fix `ccache` cache key
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
Labels: type:ci, tag:run-health-check

#4975 feat(ci): save GitHub Actions cache only on the `main` branch
  .github/actions/docker-build/action.yaml
Labels: type:ci, tag:run-health-check

#4961 feat(docker,ci): split prebuilt stage into autoware-core and autoware-universe stages
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/docker-bake.hcl
Labels: type:ci, component:openadkit, tag:run-health-check

#4992 refactor(ci): remove obsolete ccache `restore-keys`
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
Labels: type:ci, tag:run-health-check

#4999 fix(README.md): update CI report link
  README.md
Labels: tag:run-health-check

#5002 fix(ci): fix Docker image organization
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
Labels: type:bug, type:ci, tag:run-health-check

#5004 feat(ci,docker): disable `var-lib-apt` cache
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  docker/Dockerfile
Labels: type:bug, type:ci, type:containers, tag:run-health-check

#5021 feat(ci): disable `cache-to` option to run `health-check` from forked branch
  .github/actions/docker-build/action.yaml
Labels: type:bug, type:github-actions, tag:run-health-check

#4988 feat: add single lidar sensor kit
  autoware.repos
Labels: tag:run-health-check

#5024 fix(docker-build): fix ccache typo
  .github/actions/docker-build/action.yaml
Labels: tag:run-health-check

#5023 feat(docker): no longer download artifacts on `devel` image
  docker/Dockerfile
Labels: type:github-actions, type:containers, tag:run-health-check

#5008 chore(autoware.repos): add ros2_socketcan and change transport_drivers fork
  autoware.repos
Labels: tag:run-health-check

#5026 feat(ci): remove `vcs-import` workflow
  .github/workflows/vcs-import.yaml
Labels: type:github-actions, type:ci, tag:run-health-check

#5027 feat(docker): copy `src` by `--mount=type=bind` instead of `COPY`
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5022 feat(lidar_apollo_segmentation_tvm)!: remove packages
  ansible/roles/artifacts/tasks/main.yaml
Labels: tag:run-health-check

#5044 fix(docker): remove prebuilt tag in build.sh
  docker/build.sh
Labels: tag:run-health-check
