Repository autowarefoundation/autoware, pull requests merged in 2024-06, with the labels that each got.

#4865 feat(ci): save cache on `build-main` workflows and only restore cache on `docker-build-and-push-main` workflows
  .github/actions/docker-build/action.yaml
  .github/workflows/build-main-self-hosted.yaml
  .github/workflows/build-main.yaml
  .github/workflows/docker-build-and-push-main-self-hosted.yaml
  .github/workflows/docker-build-and-push-main.yaml
  docker/Dockerfile
Labels: type:ci

#4886 ci(docker-build-and-push): add base tag to fix failure
  .github/actions/docker-build-and-push/action.yaml
Labels: type:ci, type:containers

#4914 feat(autoware.repos): import `autoware_cmake` and `autoware_utils`
  autoware.repos
Labels: component:interfaces
