Repository autowarefoundation/autoware, pull requests merged in 2024-10, with the labels that each got.

#5275 chore!: upgrade to Nebula v0.2.0
  autoware.repos
Labels: tag:run-health-check

#5295 feat(create-prs-to-update-vcs-repositories): add a workflow
  .github/workflows/create-prs-to-update-vcs-repositories.yaml
Labels: type:new-feature, type:github-actions, tag:run-health-check

#5301 docs(docker): description of how to use the development and runtime containers
  docker/README.md
Labels: type:containers, component:openadkit, tag:run-health-check

#5320 fix(.github): change `runs-on` value from `ubuntu-latest` to `ubuntu-22.04`
  .github/workflows/backport.yaml
  .github/workflows/cancel-previous-workflows.yaml
  .github/workflows/create-prs-to-update-vcs-repositories.yaml
  .github/workflows/dco.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/github-release.yaml
  .github/workflows/health-check.yaml
  .github/workflows/load-env.yaml
  .github/workflows/mirror-main-branch.yaml
  .github/workflows/pre-commit-ansible-autoupdate.yaml
  .github/workflows/pre-commit-ansible.yaml
  .github/workflows/pre-commit-autoupdate.yaml
  .github/workflows/pre-commit-optional-autoupdate.yaml
  .github/workflows/pre-commit-optional.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/setup-docker.yaml
  .github/workflows/setup-universe.yaml
  .github/workflows/spell-check-differential.yaml
  .github/workflows/sync-files.yaml
  .github/workflows/update-docker-manifest.yaml
  .github/workflows/update-tool-versions.yaml
Labels: type:github-actions, tag:run-health-check

#5318 chore(autoware_lidar_transfusion): updated transfusion models
  ansible/roles/artifacts/tasks/main.yaml
Labels: tag:run-health-check

#5319 fix(.github): fix non `-cuda` tag names for `universe-vehicle-system`
  .github/actions/docker-build-and-push/action.yaml
Labels: type:containers, component:openadkit, tag:run-health-check

#5332 fix(docker): install CUDA development drivers in development containers
  ansible/playbooks/openadkit.yaml
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5329 chore(docker): remove `/autoware/log` after `colcon build`
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5342 fix: fix to import and build
  autoware.repos
Labels: tag:run-health-check

#5360 build(autoware.repos): remove ament_cmake fork repository
  autoware.repos
Labels: tag:run-health-check
