Repository autowarefoundation/autoware, pull requests merged in 2025-02, with the labels that each got.

#5608 feat(ansible): upgrade for CUDA, TensorRT and CUDNN
  amd64.env
  ansible/roles/cuda/README.md
  ansible/roles/tensorrt/README.md
  ansible/roles/tensorrt/tasks/main.yaml
  arm64.env
Labels: type:containers, tag:run-health-check

#5729 feat(ansible): revert "upgrade for CUDA, TensorRT and CUDNN"
  amd64.env
  ansible/roles/cuda/README.md
  ansible/roles/tensorrt/README.md
  ansible/roles/tensorrt/tasks/main.yaml
  arm64.env
Labels: tag:run-health-check

#5731 feat: add autoware_utils main branch to autoware-nightly.repos
  autoware-nightly.repos
Labels: tag:run-health-check

#5739 fix(docker-build-and-push-arm64.yaml): change `runs-on` self-hosted only for `-cuda` job
  .github/workflows/docker-build-and-push-arm64.yaml
Labels: type:containers, component:openadkit, tag:run-health-check

#5751 feat(autoware.repos): update Autoware Core/Universe repositories
  autoware.repos
Labels: tag:run-health-check

#5770 revert: revert "feat(autoware.repos): fix tier4_autoware_msgs version"
  autoware-nightly.repos
  autoware.repos
Labels: tag:run-health-check

#5771 ci: use require-label action for health-check
  .github/workflows/health-check.yaml
Labels: tag:run-health-check

#5733 feat(ansible): upgrade for CUDA, TensorRT and CUDNN
  amd64.env
  ansible/roles/cuda/README.md
  ansible/roles/tensorrt/README.md
  ansible/roles/tensorrt/tasks/main.yaml
  arm64.env
Labels: type:containers, tag:run-health-check

#5780 chore(docker): set image tag for qemu
  .github/workflows/autoware-base.yaml
Labels: tag:run-health-check

#5764 feat: add new traffic light detector artifacts download
  ansible/roles/artifacts/tasks/main.yaml
Labels: tag:run-health-check

#5777 feat(autoware.repos): fix tier4_autoware_msgs version
  autoware-nightly.repos
  autoware.repos
Labels: tag:run-health-check

#5794 chore(ansible): added the spconv installation to ansible
  amd64.env
  ansible/playbooks/install_spconv.yaml
  ansible/playbooks/universe.yaml
  ansible/roles/cuda/tasks/main.yaml
  ansible/roles/spconv/README.md
  ansible/roles/spconv/defaults/main.yaml
  ansible/roles/spconv/meta/main.yaml
  ansible/roles/spconv/tasks/main.yaml
Labels: tag:run-health-check

#5811 chore(ansible): updated spconv repo link
  ansible/roles/spconv/README.md
  ansible/roles/spconv/tasks/main.yaml
Labels: tag:run-health-check
