Repository autowarefoundation/autoware, pull requests merged in 2025-04, with the labels that each got.

#5967 feat(autoware*.repos): remove *_launch refs and bump autoware_launch to 0.43.1
  autoware-nightly.repos
  autoware.repos
  docker/Dockerfile
Labels: tag:run-health-check

#5977 feat(repos): upgrade agnocast to 2.0.1
  ansible/roles/agnocast/README.md
  ansible/roles/agnocast/defaults/main.yaml
  autoware.repos
Labels: tag:run-health-check

#5986 fix: revert agnocast
  ansible/playbooks/universe.yaml
  ansible/roles/agnocast/README.md
  ansible/roles/agnocast/defaults/main.yaml
  ansible/roles/agnocast/meta/main.yaml
  ansible/roles/agnocast/tasks/main.yaml
  autoware.repos
  docker/Dockerfile
  docker/README.md
Labels: tag:run-health-check

#5990 feat(docker): support `--pull-latest-image` option for pulling latest image on demand
  docker/run.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#6003 revert: "feat(autoware.repos): minor update autowarefoundation/autoware_lanelet2_extension to 0.7.0"
  autoware.repos
Labels: tag:run-health-check

#6007 feat(autoware.repos): patch update `autoware_cmake` to 1.0.2 and minor update `autoware_lanelet2_extension` to 0.7.0
  autoware.repos
Labels: tag:run-health-check

#6014 chore(docker): make artifacts available for non-root user
  docker/etc/ros_entrypoint.sh
  docker/run.sh
Labels: tag:run-health-check

#6017 ci(docker): mount cuda blackboard in CUDA image
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5611 chore(autoware.repos): add managed transform buffer
  autoware-nightly.repos
  autoware.repos
Labels: tag:run-health-check

#6034 ci(docker): mount managed_transform_buffer in universe image
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#6039 ci(docker-build-and-push*.yaml): integrate `docker-build-and-push` and `docker-build-and-push-arm64` workflows
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Labels: type:github-actions

#6036 ci(health-check*.yaml): integrate `health-check` and `health-check-nightly` workflows
  .github/workflows/health-check-nightly.yaml
  .github/workflows/health-check.yaml
Labels: type:github-actions, tag:run-health-check, run:health-check

#6035 ci(health-check*.yaml): rename `tag:run-health-check` label to `run:health-check`
  .github/workflows/health-check.yaml
Labels: type:github-actions, run:health-check

#6041 ci(docker-build-and-push.yaml): integrate `update-docker-manifest` workflow to `docker-build-and-push`
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/update-docker-manifest.yaml
Labels: type:github-actions, run:health-check

#6057 ci(docker-build-and-push.yaml): skip `docker-build-and-push` if no changed files
  .github/workflows/docker-build-and-push.yaml
Labels: type:github-actions, type:ci, run:health-check

#6054 ci(health-check.yaml): integrate `health-check-arm64` workflow to `health-check`
  .github/actions/docker-build/action.yaml
  .github/workflows/health-check-arm64.yaml
  .github/workflows/health-check.yaml
Labels: type:github-actions, type:ci, run:health-check

#6055 ci(health-check.yaml): skip `health-check` if no changed files
  .github/workflows/health-check.yaml
Labels: type:github-actions, type:ci, run:health-check

#6066 ci(docker): inherite `$AUTOWARE_BASE_IMAGE` instead of `$BASE_IMAGE`
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check.yaml
  docker/Dockerfile
  docker/build.sh
Labels: run:health-check

#6033 feat(ansible): added bevfusion artifacts
  ansible/roles/artifacts/tasks/main.yaml
Labels: run:health-check

#6049 feat(repos): re-introduce agnocast
  ansible/playbooks/universe.yaml
  ansible/roles/agnocast/README.md
  ansible/roles/agnocast/defaults/main.yaml
  ansible/roles/agnocast/meta/main.yaml
  ansible/roles/agnocast/tasks/main.yaml
  autoware.repos
  docker/Dockerfile
  docker/README.md
Labels: run:health-check

#6079 ci(docker-build-and-push.yaml): run `update-docker-manifest` job after `docker-build-and-push` job
  .github/workflows/docker-build-and-push.yaml
Labels: type:github-actions, type:ci, type:containers, component:openadkit, run:health-check

#6064 ci(webauto-ci): install older xmlschema to fix scenario simulation error
  .webauto-ci/main/autoware-build/run.sh
Labels: run:health-check

#6083 fix: add params to update cache in agnocast ansible role
  ansible/roles/agnocast/tasks/main.yaml
Labels: run:health-check

#6072 ci(action.yaml): add `utility-image` to `buildkit-cache-dance` action to resolve docker.io rate limit
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push-tools/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
Labels: type:github-actions, type:ci, run:health-check

#6096 fix(docker-build*/action.yaml): fix `ccache`, `apt-get` and container registry cache keys
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
  .github/workflows/health-check.yaml
Labels: type:github-actions, type:ci, run:health-check

#6069 feat: improve scenario testing CI workflow and update repository versions
  .github/workflows/scenario-test.yaml
Labels: run:health-check
