Repository autowarefoundation/autoware, pull requests merged in 2025-03, with the labels that each got.

#5845 ci: revert "use require-label action for health-check"
  .github/workflows/health-check.yaml
Labels: type:github-actions, tag:run-health-check

#5830 ci(docker): remove artifacts from base CUDA image
  docker/Dockerfile.base
Labels: type:containers, tag:run-health-check

#5831 chore(docker): mount autoware_data in container
  docker/run.sh
Labels: type:containers, tag:run-health-check

#5849 feat(Dockerfile): introduce `core-common-devel` stage
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/Dockerfile.svg
  docker/README.md
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5878 refactor(Dockerfile): simplify `--mount=type=bind` options
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5881 fix(docker): append `set -o pipefail` to return shell script's pipe error
  docker/Dockerfile
  docker/scripts/build_and_clean.sh
  docker/scripts/cleanup_apt.sh
  docker/scripts/cleanup_system.sh
  docker/scripts/resolve_rosdep_keys.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5588 feat(docker): add `vehicle/system` launch files to `autoware:universe-vehicle-system` images
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5890 fix(docker-build-and-push*.yaml): use `step-security/changed-files` action instead
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
Labels: type:containers, component:openadkit

#5873 ci(keep-build-cache-small): create new workflow
  .github/workflows/keep-build-cache-small.yaml
Labels: type:ci, type:containers, tag:run-health-check

#5775 chore: update the version of nebula
  autoware.repos
Labels: tag:run-health-check

#5587 feat(docker): add `planning/control` launch files to `autoware:universe-planning-control` images
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5710 feat(autoware.repos): added the cuda_blackboard and negotiated to the repos file
  autoware.repos
Labels: tag:run-health-check

#5880 chore(docker): autoware_data directory as an option
  docker/etc/ros_entrypoint.sh
  docker/run.sh
Labels: tag:run-health-check

#5876 ci(docker): revert remove artifacts from base CUDA image
  docker/Dockerfile.base
Labels: type:containers, tag:run-health-check

#5742 feat(docker): build and push `autoware-tools:visualizer` image
  .dockerignore
  .github/actions/docker-build-and-push-tools/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  docker/docker-bake-tools.hcl
  docker/tools/README.md
  docker/tools/visualizer/Dockerfile.visualizer
  docker/tools/visualizer/entrypoint.sh
  docker/tools/visualizer/xstartup
Labels: type:containers, component:openadkit, tag:run-health-check

#5902 chore(autoware.repos): rename `autoware_core` and `autoware_universe`
  README.md
  autoware-nightly.repos
  autoware.repos
  docker/Dockerfile
  docker/README.md
Labels: tag:run-health-check

#5582 feat(docker): add `sensing/perception` launch files to `autoware:universe-sensing-perception` images
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5586 feat(docker): add `localization/map` launch files to `autoware:universe-localization-mapping` images
  docker/Dockerfile
Labels: type:containers, component:openadkit, tag:run-health-check

#5910 fix(docker-build-and-push-cuda): add `vcs import src < extra-packages.repos`
  .github/actions/docker-build-and-push-cuda/action.yaml
Labels: type:containers, component:openadkit, tag:run-health-check

#5917 feat(repos): add agnocast (true zero-copy middleware)
  ansible/playbooks/universe.yaml
  ansible/roles/agnocast/README.md
  ansible/roles/agnocast/defaults/main.yaml
  ansible/roles/agnocast/meta/main.yaml
  ansible/roles/agnocast/tasks/main.yaml
  autoware.repos
  docker/Dockerfile
  docker/README.md
Labels: tag:run-health-check

#5924 feat(autoware.repos): bumped the cuda_blackboard's version to 0.2.0
  autoware.repos
Labels: tag:run-health-check

#5740 feat(docker): build and push `autoware-tools:scenario_simulator` image
  .github/actions/docker-build-and-push-tools/action.yaml
  .github/workflows/docker-build-and-push-arm64.yaml
  .github/workflows/docker-build-and-push.yaml
  docker/docker-bake-tools.hcl
  docker/tools/README.md
  docker/tools/scenario-simulator/Dockerfile.scenario-simulator
  docker/tools/scenario-simulator/entrypoint.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5943 feat(docker-build-and-push): push `autoware:universe-common-devel` image
  .github/actions/docker-build-and-push/action.yaml
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check

#5927 feat(autoware.repos): bump up `autowarefoundation/autoware_core` to 0.3.0, `autowarefoundation/autoware_universe` to 0.43.0 and `autowarefoundation/autoware_launch` to 0.43.0
  autoware.repos
  docker/Dockerfile
  tools.repos
Labels: type:containers, component:openadkit, tag:run-health-check

#5960 chore(autoware.repos): fix branch refs to commit hashes
  autoware.repos
Labels: tag:run-health-check
