Repository autowarefoundation/autoware, pull requests merged in 2025-05, with the labels that each got.

#6081 ci(docker-build-and-push.yaml): add `max-parallelism` option to restrict `docker build make` parallelism
  .github/actions/docker-build-and-push-base/action.yaml
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push-tools/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/workflows/docker-build-and-push.yaml
  .github/workflows/health-check.yaml
Labels: type:github-actions, type:ci, run:health-check

#6115 chore: release 0.44.1
  autoware.repos
  docker/Dockerfile
Labels: run:health-check

#6126 ci(docker-build-and-push-cuda): push `autoware:universe-common-devel-cuda` image
  .github/actions/docker-build-and-push-cuda/action.yaml
  docker/docker-bake-cuda.hcl
Labels: type:github-actions, type:ci, type:containers, component:openadkit, run:health-check

#6127 ci(action.yaml): add `--shallow` option to `vcs import`
  .github/actions/docker-build-and-push-cuda/action.yaml
  .github/actions/docker-build-and-push-tools/action.yaml
  .github/actions/docker-build-and-push/action.yaml
  .github/actions/docker-build/action.yaml
Labels: type:github-actions, type:ci, run:health-check

#6128 feat(repos): update autoware.repos nebula driver version
  autoware.repos
Labels: run:health-check

#6032 fix(ansible): spconv was not installed as part of the openadkit
  ansible/playbooks/openadkit.yaml
Labels: run:health-check

#6137 fix(ansible): correctly restore IPv6 disablement
  ansible/roles/agnocast/tasks/main.yaml
Labels: run:health-check

#6144 feat(Dockerfile): install `autoware_launch` to `universe-common-devel` stage instead of `universe-devel` stage
  docker/Dockerfile
Labels: type:containers, component:openadkit, run:health-check

#6122 fix(scenario-test.yaml): fix `output_directory` and failure detection
  .github/workflows/scenario-test.yaml
Labels: type:github-actions, type:ci, run:health-check

#6147 fix(docker-build-and-push-base): fix indent
  .github/actions/docker-build-and-push-base/action.yaml
Labels: type:containers, component:openadkit, run:health-check

#6152 revert: "feat(simulator.repos): major update tier4/scenario_simulator_v2 to 16.3.2"
  simulator.repos
Labels: run:health-check

#6153 fix(ansible): rename plotjuggler-ros to plotjuggler
  ansible/roles/dev_tools/tasks/main.yaml
  tools-nightly.repos
  tools.repos
Labels: run:health-check

#6158 ci(health-check): use ubuntu-24.04 for runner
  .github/workflows/health-check.yaml
Labels: run:health-check

#6162 feat: add autoware_rviz_plugins to autoware-nightly.repos
  autoware-nightly.repos
Labels: run:health-check

#6151 fix: linux kernel parameters for scenario evaluation
  .webauto-ci.yaml
Labels: run:health-check

#6181 docs(README.md): remove autoware_common reference
  README.md
Labels: run:health-check

#6182 fix(Dockerfile): move `sensor_component_description` to `universe-vehicle-system` stage
  docker/Dockerfile
Labels: type:containers, component:openadkit, run:health-check

#6188 fix(tools*.repos): update the plotjuggler version for humble
  tools-nightly.repos
  tools.repos
Labels: run:health-check

#6187 fix(docker-build-and-push-cuda): install apt version of vcstool
  .github/actions/docker-build-and-push-cuda/action.yaml
Labels: run:health-check
