Repository autowarefoundation/autoware, pull requests merged in 2025-01, with the labels that each got.

#5636 chore(autoware.repos): update `autoware.core` to `0.1.0`, `autoware.universe` to `0.40.0` and `autoware_launch` to `0.40.0`
  autoware.repos
Labels: tag:run-health-check

#5651 docs(docker): update `Multi-stage Dockerfile structure` section
  docker/README.md
Labels: type:containers, component:openadkit, tag:run-health-check

#5656 fix(docker): enable `--dependency-types` again
  docker/Dockerfile
  docker/scripts/resolve_rosdep_keys.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5661 fix(docker): add `set -e` to return shell script's error
  docker/scripts/build_and_clean.sh
  docker/scripts/cleanup_apt.sh
  docker/scripts/cleanup_system.sh
  docker/scripts/resolve_rosdep_keys.sh
Labels: type:containers, component:openadkit, tag:run-health-check

#5679 fix(docker-build-and-push): set docker meta data to `universe-visualization` images
  .github/actions/docker-build-and-push/action.yaml
Labels: type:containers, component:openadkit, tag:run-health-check

#5677 fix: add `tier4_ad_api_adaptor` to autoware-nightly.repos
  autoware-nightly.repos
Labels: tag:run-health-check

#5605 feat(ansible/artifacts): add rtmdet onnx model
  ansible/roles/artifacts/tasks/main.yaml
Labels: tag:run-health-check

#5690 fix(docker-build-and-push): push `universe-visualization` images to ghcr.io
  .github/actions/docker-build-and-push/action.yaml
Labels: type:containers, component:openadkit, tag:run-health-check

#5696 chore(docker): update README.md and Dockerfile.svg
  docker/Dockerfile.svg
  docker/README.md
Labels: type:containers, component:openadkit, tag:run-health-check

#5698 chore(create-prs-to-update-vcs-repositories.yaml): target only major and minor version updates for `simulator.repos`
  .github/workflows/create-prs-to-update-vcs-repositories.yaml
Labels: component:simulation, tag:run-health-check

#5708 chore(tools.repos): use tag instead of `main` to `version`
  tools.repos
Labels: component:tools, tag:run-health-check

#5709 feat(docker): add `autoware:core` image
  .github/actions/docker-build-and-push/action.yaml
  docker/Dockerfile
  docker/Dockerfile.svg
  docker/README.md
  docker/docker-bake.hcl
Labels: type:containers, component:openadkit, tag:run-health-check
